body { background-color: white; margin: 0px; font-family: 'Roboto', Arial, sans-serif; color: black; }

body a { display: block; }

section { position: absolute; width: 100%; height: 100%; display: block; }

section canvas { position: relative; transform: translate(-50%, -50%); top: 50%; left: 50%; display: block; }

body.eight div.img { position: absolute; width: 100%; height: 100%; z-index: 10; pointer-events: none; }

body.eight div.img img { position: relative; transform: translate(-50%, -50%); top: 50%; left: 50%; }

body.eight section { transform: translate(-50%, -50%); top: 50%; left: 50%; }

body.eight canvas { touch-action: none; width: 100%; height: 100%; transform: initial; top: initial; left: initial; cursor: default; }

body.eight .icons { display: flex; justify-content: space-between; }

body.eight .icons div { width: 48px; height: 48px; margin: 10px; border-radius: 100px; background-repeat: no-repeat; background-size: 24px; background-position: center; transition: background 200ms cubic-bezier(0.4, 0, 0.2, 1); cursor: pointer; opacity: 0.8; }

body.eight .icons div.clear { background-image: url("/8/ic_clear_white_48px.svg"); }

body.eight .icons div.done { background-image: url("/8/ic_done_white_48px.svg"); }

body.eight .icons div:hover { background-color: rgba(255, 255, 255, 0.12); }

body.eight .icons div:active { background-color: rgba(255, 255, 255, 0.26); }
